.header1 {
    color: #3d4449;
    font-size:50pt;
}

.FamilyBio {
    color: #3d4449;
    font-size: 30pt;
}

.bio {
    display: flex;
}

.biopic {
    height: auto;
    width:30%;
    margin-left: 50px;
}

.reci1,.reci2 {
    display: flex;
}

.Reci article {
    margin-right: 50px;
    margin-bottom:50px;
}
.mainpg {
    border-style:dotted;
}

/* About page*/

 .Tpics {
    width:400px;
    height: auto;
   }

.tRow, .bRow
{
    display: inline-flex;
}

.leftSection {
    margin-left:300px;
}
.tRow article {

    padding-right: 500px;
}

.bRow article {

    padding-right: 500px;
}



.Lpic{
    width: 400px;
    height: auto;
}

.Leader {
    margin-left: 800px;
    padding-right: 650px;
}

#AboutH {
font-size: 20px;
}

.buttons {
    margin-right: 50px;
    font-style: italic;
    font-size: 22pt;

}

/*Mobile margins*/

@media (max-width: 501px)
{
    .Tpics, .Lpic
    {
        width: 200px;
        height: auto;
    }

    #AboutH
    {
      margin-left: 80px;
    }
    #AboutH p {
        text-align: center;
    }

    .Leader {
        margin-left: 100px;
    }

    .tRow, .bRow{
        display: block;
    }

    .sidemenu, .mainpg {
        display:block;
    }
    .mainpg {
        margin-left: 75px;
    }
    .sidemenu
    {
        margin-left: 200px;
    }

    .header1, .bio {
        display: block;
        text-align: center;
    }
    .biopic {
        width: 200px;
        height: auto;
    }

    .Reci h3 {
        margin-left: 125px;
    }
    .reci1, .reci2 {
        display: block;
    }
    .reci1 h4 {
        text-align: center;
    }
    .reci2 h4 {
        text-align: center;
    }
}





/*Pretty Stuff*/



.sidemenu{
    border-style: dotted;
}
.sidemenu h2{
    border-bottom-style: solid;
    border-color:red;
    padding-bottom: 10px;
}