.header1 {
    color: #3d4449;
    font-size:22pt;
}

.FamilyBio {
    color: #3d4449;
    font-size: 21pt;
}

.bio {
    display: flex;
}

.biopic {
    height: auto;
    width:30%;
    margin-left: 50px;
}

.reci1,.reci2 {
    display: flex;
}

.Reci article {
    margin-right: 50px;
    margin-bottom:50px;
}
.mainpg {
    margin-left: 300px;
}

/* About page*/

 .Tpics {
    width:400px;
    height: auto;
   }

.tRow, .bRow
{
    display: inline-flex;
}

.tRow article {
 
    margin-left: 100px;
    padding-right: 200px;
}

.bRow article {

    margin-left: 100px;
    padding-right: 200px;
}



.Lpic{
    width: 400px;
    height: auto;
}

.Leader {
    margin-left: 500px;
}

#AboutH {
font-size: 20px;
}
